@tailwind base;
@tailwind components;
@tailwind utilities;

/* .input {
  @apply w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.btn-nav {
  @apply px-4 py-2 text-white transition bg-blue-600 rounded-lg hover:bg-blue-700;
}

.btn-mobile {
  @apply block w-full px-4 py-2 text-left bg-blue-100 rounded hover:bg-blue-200;
} */


/* Visible & styled horizontal scrollbar for all screens */
/* Clean visible scrollbar */
.styled-scrollbar::-webkit-scrollbar {
  height: 8px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-600 */
  border-radius: 10px;
}
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

